<div class="category">
  <hr>
  <div class="title">
    <span class="eng-lang">CHAT LIST</span><br />
    <span class="ja-lang">チャット リスト</span>
  </div>
  <hr>
  <%= link_to "マイページへ戻る", root_path(current_user[:id]) %>
  <div class="parent-users">
      <!-- ユーザーをそれぞれ個別にする処理 -->
    <% @groups.each do |group| %>
      <div class="users-list">
        <%= link_to group_messages_path(group.id) do %>
          <div class="user-list">
            <div class="introduct-box">
              <div class="user-name-box">
                チャットルーム名：<%= group.group_name %>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "削除", group_path(group.id), method: :delete, class: "delete-button" %>
      </div>
    <% end %>
  </div>
</div>
