<div class="a-content">
  <div class="left-content">
    <ul class="info-content">
      <li><a>お知らせ</a></li>
      <li><a>チャット</a></li>
      <li><a>フォロー</a></li>
      <li><a>フォロワー</a></li>
      <li><a>ユーザー検索</a></li>
      <li><a>プロフィール編集</a></li>
      <li><a>お問い合わせ</a></li>
      <li><a>利用規約</a></li>
    </ul>
  </div>
  <div class="right-content">
    <div class="head-content">
      <div class="p-image-content">
        <div class="image-content">
          画像
        </div>
      </div>
      <div class="content-b">
        ユーザー名：テスト
      </div>
      <div class="content-b">
        チーム名：  サッカー
      </div>
    </div>
    <div class="introduct-content">
      <div class="c-content">チーム紹介</div>
      <div class="c-introduct-content">
        ここにはチームの紹介文が入ります。
      </div>
    </div>
    <div class="result-content">
      <div class="c-content">試合結果</div>
      <div class="c-introduct-content">
        ここは試合結果が入ります。
      </div>
    </div>
  </div>
</div>
