<% @user.followers.each do |user| %>
  <table>
  <tr>
    <td>  <%= user.username %> </td>
    <td><%= link_to '詳細', user_path(user) %></td>
  </tr>

  </table>
<% end %>
<%= link_to "マイページへ戻る", root_path(current_user[:id]), class: "link-root" %>
