.chat-current-user-name {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  display: block;
  border-bottom: 2px solid #330;
}

.chat-current-user-groups {
  width: 100%;
  display: block;
  text-align: center;
}

.chat-group-name {
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
}


