body {
  margin: 0 auto;
}
.a-content {
  box-sizing: border-box;
}

.left-content {
  background-color: #CCFFFF;
  height: 100vh;
  width: 200px;
  float: left;
}

.info-content {
  width: 95%;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
}

.menu-content {
  margin-top: 20px;
  border: 1px solid #330000 ;
  border-radius: 5px;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.right-content {
  height: 100vh;
  width: calc( 100vw - 200px );
  float: left;
  background-color: #FFFFCC;
  overflow-y: scroll;
}

.head-content {
  border: 1px solid #111;
  height: 70%;
}

.p-image-content {
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
}

.image-content {
  display: block;
  min-height: 300px;
  min-width: 300px;
  background-color: #eee;
  margin: 100px 140px;
  text-align: center;
  line-height: 17;
}

.content-b {
  height: 33%;
  width: 50%;
  background-color: #FFFFFF;
  float: left;
  text-align: center;
  line-height: 8;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  font-size: 120%;
}

.introduct-content {
  width: calc( 100vw - 200px );
  clear: both;
}

.c-content {
  width:83px;
  border: 1px solid #111;
  border-radius: 3px;
  margin: 20px;
  font-weight: bold;
}

.c-introduct-content {
  overflow-y: scroll;
  width: 70%;
  min-height: 300px;
  border: 1px solid #111;
  border-radius: 5px;
  margin: 10px 20px;
}

.result-content {
  width: calc( 100vw - 200px );
  clear: both;
}

a:link { color: #111; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }


.user-image {
  max-height: 300px;
  max-width: 300px;
  display: block;
  background-color: #eee;
  margin: 100px 140px;
  text-align: center;
  line-height: 17;
}

.link-root {
  margin: 10px !important;
}

.btn-large {
  background-color: #CCFFFF;
  border: none;
}

#follow-follower{
  width: 187px;
  text-align: center;
  font-weight: bold;
}

#follow-title {
  font-weight: bold;
  font-size: 30px;
}
